ol
{
list-style-position:outside;
}
#ol2
{
list-style-type:upper-roman;
list-style-position:inside;
}
ul
{
list-style-type:circle;
}
#ul2
{
list-style-image:url("Data/Arrow.png");
}
#ul3
{
list-style-type:none;
}